*.iml
.idea/
.DS_Store
target/
spark-warehouse/
target/analysis/
target/classes/
target/maven-archiver/
target/maven-status/
target/surefire-reports/
target/test-classes/
*/target/analysis/
*/target/classes/
*/target/maven-archiver/
*/target/maven-status/
*/target/surefire-reports/
*/target/test-classes/
*.jar
logs/
log/
run.sh
